<ion-header>
  <ion-toolbar>
    <ion-title>Create New Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="deposit(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-col>
			  <ion-button color="tertiary" type="button" expand="block" (click)="generateAccountNumber()">Click to Generate Account Number</ion-button>
			  <h2>{{accountNumber}}</h2>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input name="deposit" type="text" placeholder="Enter amount to deposit" ngModel required></ion-input>
            </ion-item>
          </ion-col>
          <ion-row>
            <ion-button type="button" routerLink='/home' expand="block">Cancel</ion-button>
            <ion-button type="submit" [disabled]="form.invalid" expand="block">Deposit</ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
